// GLOBAL //
* {
  box-sizing: border-box;
}

body {
}


// TYPOGRAPHY //
$pro-bold: 'info-correspondence-web-pro', sans-serif;
$motion: 'motion', sans-serif;

h1, 
h2, 
h3, 
h4, 
h5,
h6,
p,
a {
  font-family: $pro-bold;
}

// h1 {
//   font-size: 120px;
//   font-family: $motion;
//   font-weight: 700;
//   color: #804c2c;
//   margin-bottom: 0;
// }

h1 {
  font-size: 22px;
  font-weight: 500;
  color: #804c2c;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 30px;
  font-style: italic;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 10px;
}

p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.2px;
}

// COLORS //

//color: #804c2c;
// rgba(128, 76, 44, 0.3);


// MAIN CONTENT // 
.main-content {
  @media only screen and (max-width: 500px) {
  }
}

.section-title {
  background-image: url('../images/logo.png');
  min-height: 150px;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  img {
    width: 100%;
  }
}

.section-hook {
  min-height: 40%;
  display: flex;
  position: relative;
  .hook {
    width: 50%;
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-image: url('../images/paper-bag.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
      color:  rgba(128, 76, 44, 0.8);
      text-align: center;
    }
  }
  .video {
    width: 50%;
    img {
      display: block;
      width: 100%;
    }
  }
  @media only screen and (max-width: 750px) {
    flex-direction: column;
    .hook,
    .video {
      width: 100%;
    }
  }
}

.section-description {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 120px;
  z-index: 9;
  position: relative;
  @media only screen and (max-width: 750px) {
    padding: 50px;
    h2 {
      font-size: 30px;
    }
  }
}


.section-problem {
  display: flex;
  .flex {
    border-left: 4px solid rgba(128, 76, 44, 0.4);
    border-bottom: 4px solid rgba(128, 76, 44, 0.4);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 49%;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
  }
  .images {
    display: flex;
    width: 49%;
    flex-direction: column;
    position: relative;
  }
  @media only screen and (max-width: 750px) {
    flex-direction: column;
    .flex,
    .images {
      width: 100%;
    }
  }
}

.parallax2 {
    background-image: url("../images/paper-bag2.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }